<tr>
  <td class="has-text-right"><%= Douyin::App.human_attribute_name(:name) %></td>
  <td><%= @app.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Douyin::App.human_attribute_name(:appid) %></td>
  <td><%= @app.appid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Douyin::App.human_attribute_name(:secret) %></td>
  <td><%= @app.secret %></td>
</tr>
